<h1>Kototabi#index</h1>

<div class="top">
  <!----動画----->
  <div class="top_video_content" >
    <h2>トップ画面作成</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <%= video_tag("kototabi.mp4", class: "top_video", autoplay: true, loop: true, muted: true, alt:"ダミー画像") %>
            <div class="top_hero" >
              <%= image_tag "top-logo.png", class: "top_logo" %>
              <h3 class="top_title">KYOTO TOUR</h3>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!----商品----->
  <div class="products-container container-fluid">
    <div class="row row-cols-3">
        <div class="products_hero col">
          <%= link_to kototabi_show_path do %>
            <%=image_tag "IMG_0290.jpg", alt:"商品画像", class:"products_img" %>
            <div class="products_info">
              <p class="products_name">kototabiとは</p>
              <p class="products_text"></p>
            </div>
          <% end %>
        </div>
        <div class="products_hero col">
          <%= link_to kototabi_show_path do %>
            <%=image_tag "product_img(1).jpg", alt:"商品画像", class:"products_img" %>
            <div class="products_info">
              <p class="products_name">商品名サンプル</p>
              <p class="products_text">説明、、、、</p>
            </div>
          <% end %>
        </div>
        <div class="products_hero col">
          <%= link_to tops_path do %>
            <%=image_tag "thumb_m093.jpg", alt:"商品画像", class:"products_img" %>
            <div class="products_info">
              <p class="products_name">商品名サンプル</p>
              <p class="products_text">説明、、、、</p>
            </div>
          <% end %>
        </div>
    </div>
  </div>
  <%= render "shared/footer_client" %>
</div>


