<h1>Kototabi#show</h1>

<div class="header-wrap">
  <div class="header-main">
    <div class="header-logo-box">
      <%= link_to image_tag("/assets/header-logo"), kototabi_index_path%>
    </div>
    <div class="header-menu">
    </div>
  </div>
</div>

<div class="products-wrap">
  <div class="products-main">
    <div class="for-event">
      <!-----見出し----->
      <div class="products-top">
        <div class="product-editor-name-box">
          <h1>【京都ツアー】</h1>
        </div>
        <div class="product-editor-title-box">
          <p>京都を歩く</p></p>
        </div>
        <div class="product-editor-text-box">
          <p>日本有数の観光地・京都の魅力は、なんといっても歴史を感じる街並みや寺社の数々。祇園を歩けば石畳の上で優雅さに浸り、
            清水寺の境内では厳かに平安の歴史を噛みしめることができます。季節を選ばず、1年中、四季それぞれの風情を楽しむことができるエリアでもあります。
            外国人観光客も増え、観光地としてますます魅力が磨かれる京都の新たな一面や穴場スポットを見つけてみてはいかがでしょうか。</p>
        </div>
        <div class="product-editor-imag-box">
          <%= image_tag "ninen_zaka.jpg", class: "products_show_img" %>
        </div>
      </div>
      <!-----商品の詳細----->
      <div class="products-show-container">
        <div class="products-show-container-main">
          <!-----ポイント----->
          <div class="point-container">
            <div class="point-content">
              <h6>POINT 1</h6>
                <div class="point-item">
                  <div class="point-item-info">
                    <div class="point-item-title-box">
                      <h4>嵐山が織りなす季節の風景</h4>
                    </div>
                    <div class="point-item-text-box">
                      <p>
                        桂川にかかる渡月橋越しに見る雄大な山々。春は一面の桜でピンクに染まり、
                        夏はさわやかな新緑をまとい、秋は赤や黄など紅葉の複雑な色彩で彩られ、冬は美しく雪化粧。
                        一年を通して、訪れる人の目を楽しませてくれる景勝地です。
                        ここ渡月橋を散策の起点に、野宮神社から天龍寺北門を通り、大河内山荘へと抜ける約400メートルの竹林の小径をゆっくりと歩いたり、足腰に自信のある人は、嵐山の中腹にある大悲閣
                        千光寺まで山道を登り、景色を楽しんだり。通り沿いには飲食店や土産店が並び、渡月橋そばには甘味を味わえる店もあります。
                      </p>
                    </div>
                  </div>
                  <div class="point-item-img">
                    <%= image_tag "hougonin.jpg", class: "point-img" %>
                  </div>
                </div>
              <hr>

              <h6>POINT 2</h6>
                <div class="point-item">
                  <div class="point-item-info">
                    <div class="point-item-title-box">
                      <h4>歴史あるまち並みを楽しむ</h4>
                    </div>
                    <div class="point-item-text-box">
                      <p>
                        四条大橋を東へ渡ると、そこは祇園。「祇園甲部」「祇園東」という花街があるエリアです。
                        柳が揺れる石畳の白川筋から辰巳橋を渡り、お茶屋さんや料理屋さんが立ち並ぶ花見小路や周辺の路地を散歩したり、
                        芸・舞妓さん御用達の和小物店や雑貨店でショッピングを楽しんだりと花街情緒を味わえます。
                        四条通の東端にある朱塗りの楼門で有名な八坂神社の境内を抜け、花見の名所として名高い円山公園から北へ。
                        この辺りは国内最大級の木造二重門を持つ知恩院や日本三不動の一つ、
                        青不動明王（国宝）を有する青蓮院もある、落ち着いた雰囲気が魅力のエリアです。
                        </p>
                    </div>
                  </div>
                  <div class="point-item-img">
                    <%= image_tag "tatumibashi.jpg", class: "point-img" %>
                  </div>
                </div>
              <hr>

              <h6>POINT 3</h6>
                <div class="point-item">
                  <div class="point-item-info">
                    <div class="point-item-title-box">
                      <h4>自社仏閣・お庭めぐりが充実</h4>
                    </div>
                    <div class="point-item-text-box">
                      <p>
                        京都は、国内外から多くの観光客が「京都らしさ」を求めて訪れる日本随一の観光都市です。
                        テレビのCMやイメージ写真で美しい風景を見て、その雰囲気を味わおうと楽しみにしている方も多いでしょう。
                        なのに、混雑ぶりがひどくてゆっくりできない、という思いをされたことはないでしょうか？どちらを向いても人・人・人…。
                        特に桜や紅葉の美しい時期はなおさらです。
                        今回は、比較的知られていない、あるいは観光客があまり多くないけれどもしっかりと京都らしさを楽しめる神社仏閣を10ヵ所紹介します。
                        近隣の有名寺社やその神社仏閣に関連した観光スポットも併せて紹介しますので、ぜひ、次回の京都来訪の際、ご参考になさってくださいね。
                      </p>
                    </div>
                  </div>
                  <div class="point-item-img">
                    <%= image_tag "chishakuin.jpg", class: "point-img" %>
                  </div>
                </div>
              <hr>
            </div>
          </div>
          <%# ここから旅程作成 表題もクライアントが作れる用にする %>
          <!-----旅程----->
          <div class="itinerary_content">
            <h3>ツアーの流れ</h3>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>9:00</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>旅館出発</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                    9:00～9:30にご宿泊先の旅館またはお近くのホテルまでお迎えにあがります。
                    ご予約時に旅館名を教えてください、お迎え時間と場所をお伝えします。
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "ishibe_koji.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>9:30</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>嵐山到着</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                      嵯峨野にある『源氏物語』にも登場する歴史ある神社。
                      嵐山の人気スポットである「竹林の道」と隣接しています。
                      特に「縁結び」の神様として有名で女性から人気を集めています。
                      そんな嵐山をご堪能ください。
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "tenryuji.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>12:30</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>昼食</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                      1624年創業のわらじやは、国産うなぎを使った雑炊「うぞふすい」が
                      名物のうなぎ料理専門店。うぞふすいは、輪切りのうなぎや九条ネギなどが入った吸い物風の鍋「うなべ」のスープに、
                      ご飯や餅、野菜、卵、白焼きのうなぎを入れた雑炊をお楽しみいただけます。
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "warajiya.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>14:00</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>二年坂・三年坂</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                      産寧坂ともいう。八坂から清水寺に通じる道路のうち、急な石畳の坂道約100メートル。
                      重要伝統的建造物群保存地区指定。古めかしい造りの土産物店が並ぶ京情緒あふれる地域。
                      歴史情緒溢れる町並みをお楽しみください。
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "ninen_zaka.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>15:30</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>伏見稲荷大社</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                      全国に3万社あると言われる稲荷神社の総本宮で「商売繁盛」のご利益で名の知れた神社です。
                      伏見稲荷大社の代名詞とも言える「千本鳥居」は、
                      数が多いことを表すためにこの名が付けられました。
                      参拝してみてはいかがでしょうか？
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "fushimi.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>17:00</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>人力車観光</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                      すっかり疲れた足腰にぴったりの乗り心地。
                      有名な情緒溢れる町並みを抜けて夕飯どころまで送迎致します。
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "jinnriki.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>
              <div class="itinerary_item">
                <div class="itinerary_item_time_box">
                  <p>18:00</p>
                </div>
                <div class="itinerary_item_info">
                  <div class="itinerary_item_title">
                    <p>夕食</p>
                  </div>
                  <div class="itinerary_item_text">
                    <p>
                      人力車でお食通りまでついたたら自由行動・自由解散です。
                      夜の京都をお楽しみください。
                    </p>
                  </div>
                </div>
                <div class="itinerary_item_img_box">
                  <%= image_tag "kiri.jpg", class: "itinerary_item_img" %>
                </div>
              </div>
            <hr>

          </div>
        </div><%# products-show-container-main %>
      </div><%# products_show_container"%>
    </div>
    <!-----予約フォーム----->
    <div class="form-contents">
      <div class=form-item>
        <div class="form-price">
          <div class="form-price-total">
            <div class="form-price-one-inside">
              <P>合計金額</P>  
              <h4>¥<span id="total_price">0</span></h4>
            </div>
          </div>
          <div class="form-price-one">
            <div class="form-price-one-inside">
              <h5>¥<span id="one_price">9,800</span>/<span>人</span></span></h5>
            </div>
          </div>
        </div>
        <div class="form-input">
          <%= form_with url:kototabi_show_path, method: :get, local: true do |f| %>
            <div class="form-num">
              <div class="form-num-title-box">
                <p><span>人</span><%= f.label :num, '数' %></p>
              </div>
              <div class="form-num-select-box">
                <% num_options = Num.order(:id).map { |c| [c.name, c.id, data: { multiple: c.multiple }] } %>
                <%= f.select(:num_id, num_options, {}, {class:"form-num-select", data:{select:0}, id:"num" }) %>
              </div>
            </div>
            <div class="form-day">
              <div class="form-plan-title">
                <p>ご希望日</p>
              </div>
              <%= raw sprintf(
                  f.date_select(
                    :start_time,
                    use_month_numbers: true,
                    discard_hour: true,
                    prompt:'--',
                    start_year: 2021,
                    end_year: (Time.now.year + 3),
                    date_separator: '%s'),
                  "年", "月") + "日" %>
              </div>
              <div class="form-submit-box">
                <%= f.submit "予約へ進む >", class:"form-submit shadow-lg " %>
              </div>
          <% end %>
        </div>
      </div><%# form-item %>
    </div><%# form-contents %>
  </div><%#products-wrap-main%>
</div><%#products-wrap%>

<div class="footer_session"></div>

<div class="footer">
  <div class='client-wrap' >
    <div class="client-admin-if-login-box">
      <div class="company-info">
        <ul>
          <li>会社名<span>:</span>◯◯◯◯株式会社</li>
          <li>所在<span>:△△△県□□□市</span></li>
          <li>メール<span>:xxxx@kototabi.com</span></li>
          <li>TEL<span>:</span>0120-123-1234</li>
        </ul>
      </div>
    </div>
    <div class="footer-logo-box">
      <img src="/assets/sample_logo.png" alt="サンプルロゴ.png" class="footer-logo">
    </div>
  </div><!--client-wrap-->
</div><!--footer-->

