<h1>Points#edit</h1>

<%= form_with model: @point, url:product_point_path, local: true do |f| %>
<div class="#">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="">
  <%= f.label :text %>
  <%= f.text_area :text %>
</div>

<div class="">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<%= f.submit "編集する", class:"#" %>
<% end %>
<%= button_to "削除する", product_point_path(@product, point.id), method: :delete %>
