<!-----ヘッター------>
<div class="header-wrap">
  <div class="header-main-1">
    <div class="header-left">
      <div class="header-logo-box">
        <%= link_to root_path, class:"header-logo-img" do %>
          <%= image_tag "codeless-haeder-ogo.png", class:"header-logo-img" %>
        <% end %>
      </div>
      <div class="header-introduction-1">
        <ul>
          <li><%= link_to "無料デモを使う", samples_guest_sign_in_path, method: :post %></li>
          <li><%= link_to 'デモを編集する', clients_guest_sign_in_path, method: :post %></li>
          <li><%= link_to "機能紹介", demos_about_path  %></li>
          <li><%= link_to "導入企業一覧", demos_list_demos_path %></li>
      </div>
    </div>
    <div class="header-right">
      <div class="header-right-li-1">
        <span><%= link_to '試作する', clients_guest_sign_in_path, method: :post %></span>
      </div>
      <div class="header-right-li-1">
        <%= link_to "新規登録", new_client_registration_path %>
      </div>
      <div class="header-right-li-1">
        <%= link_to "ログイン", new_client_session_path %>
      </div>
    </div>
  </div>
</div>

<div class="about-wrap">
  <div class="cover">
    <div class="cover-introduction">
      <div class="cover-center">
        <h1 class=font_0>CODELESS 機能紹介</h1>
        <div class="cover-text">
          <p>ECサイトの作成と運営に必要な顧客・商品管理機能がここに。</p>
          <p></p>
          <p>CODELESSの機能をご紹介します。</p>
        </div>
          <%= link_to samples_guest_sign_in_path, method: :post  do %>
            <div class="cover-create-button">
              <h3>無料デモを使う</h3>
            </div>
          <% end %>
          <%= link_to clients_guest_sign_in_path, method: :post  do %>
            <div class="cover-create-button">
              <h3>デモを編集する</h3>
            </div>
          <% end %>
      </div>
      <div class="cover-br">
      </div>
      <div class="cover-footer">
        <%# <ul><a href=""></a>
          <li class="cover-footer-li-1"><a href="#sec1">Create</a></li>
          <li class="cover-footer-li"><a href="#sec2">Add</a></li>
          <li class="cover-footer-li"><a href="#sec3">Edit</a></li>
          <li class="cover-footer-li"><a href="#sec4">Admin</a></li>
        </ul> %>
      </div>
    </div><%#cover-introduction%>
  </div>

  <div class="about-container">
    <div class="row">
      <div class="about-main">
        <div class="about-main-create">
          <h1>Create 作成する</h1>
            <div class="bout-main-create-text">
              <p>簡単２ステップ。好きな動画や画像を選択するだけ。</p>
              <p>タイトルや紹介文など、運営に必要内容を入力すると、</p>
              <a name="#sec1">
              <p>あなただけのWebサイト・ECサイトが完成ます。</p>
              </a>
            </div>
        </div>
        <div class="about-main-add">
          <h1>Add 追加</h1>
            <div class="about-main-add-text">
              <p>管理画面へ行き左上のEditerボタンを押すとメニューバーが現れます。</p>
              <a name="sec2">
              <p>増やしたい項目に入力するだけ。</p>
              </a>
            </div>
        </div>
        <div class="about-main-edit">
          <h1>Edit 編集</h1>
            <div class="about-main-edit-text">
              <p>管理画面から商品のページに進みます。</p>
              <a name="sec3">
              <p>編集したい項目を書き換え、編集ボタンを押すと編集されます。</p>
              </a>
            </div>
        </div>
        <div class="about-main-admin">
          <h1>Admin 予約管理</h1>
            <div class="about-admin-text">
              <a name="sec4">
              <p>予約管理ボタンを押すと、カレンダーの画面に遷移します。</p>
              <p>予約があれば予定が入りクリックすると編集が可能です。</p>
              <p>また、検索機能で絞り込む事も可能です。</p>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer_client" %>
