<h1>Demos#home</h1>
<p>Find me in app/views/demos/demoindex.html.erb</p>


<!-----ヘッター------>
<%= render "shared/header_demo" %>
<!-----メイン------>
<div class="top">
<!----動画----->
  <div class="top_video_content" >
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= video_tag("ecmaker.mp4", class: "top_video", autoplay: true, loop: true, muted: true, alt:"ダミー画像") %>
          <div class="top_hero">
            <%= image_tag "top-logo.png", class: "top_logo" %>
            <h3 class="top_title">eコマースメイカー</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-----区切り------>
  <div class="section-wrap">
    <div class="section">
      <div class="section-text">
        <h3>KOTOTABIでネットショプを作る</h3>
        <h3>クリックひとつ簡単作成。顧客・商品管理まできこれ一本</h3>
      </div>
      <h2 class="section-sample">
        <span class="section-name">sample</span>
        <hr>
        <small>サンプル</small>
      </h2>
    </div>
  </div>
<!----商品----->
  <div class="products-container container-fluid">
    <div class="row row-cols-3">
      <div class="products_hero col">
        <div class="hover-product">
          <%= link_to demos_path do %>
            <%=image_tag("product_sample3", alt:"商品画像", class:"products_img") %>
            <div class="products_info">
              <p class="products_name">sample</p>
              <p class="products_text">title/title/title/title</p>
            </div>
          <% end %>
        </div><%#hover-product%>
      </div>
      <div class="products_hero col">
        <div class="hover-product">
          <%= link_to demos_path do %>
            <%=image_tag "product_sample1", alt:"商品画像", class:"products_img" %>
            <div class="products_info">
              <p class="products_name">sample</p>
              <p class="products_text">title/title/title/title</p>
            </div>
          <% end %>
        </div><%#hover-product%>
      </div>
      <div class="products_hero col">
        <div class="hover-product">
          <%= link_to demos_path do %>
            <%=image_tag "puroduct_sample2", alt:"商品画像", class:"products_img" %>
            <div class="products_info">
              <p class="products_name">sample</p>
              <p class="products_text">title/title/title/title</p>
            </div>
          <% end %>
        </div><%#hover-product%>
      </div>
    </div>
  </div>
  <%= render "shared/footer_client" %>
</div>





