<h1>Tops#edit</h1>



<%# top %>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= video_tag @top.video_top, class:"top_video", :loop => true, :autoplay => true, :muted => true %> 
      <div class="top_hero" >
        <%= image_tag @top.image, class: "top_logo" %>
        <h3 class="top_title"><%= @top.title %></h3>
      </div>
    </div>
  </div>
</div>



<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-2">
      <img src="/assets/logo.png" class="img">
    </div>
    <div class="col-2">
      <img src="/assets/logo (1).png" class="img">
    </div>
    <div class="col-2">
      <img src="/assets/logo (5).png" class="img">
    </div>
    <div class="col-2">
      <img src="/assets/logo (2).png" class="img">
    </div>
    <div class="col-2">
      <img src="/assets/logo (3).png" class="img">
    </div>
    <div class="col-2">
      <img src="/assets/logo ().png" class="img">
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <h2 class="section col-12">
    <span class="section-name mb-5 border-bottom">products</span>
    <small>プラン</small>
    </h2>
  </div>
</div>


  <%# 商品 %>
<div class="products-container container-fluid">
    <div class="row row-cols-3">
      <% @products.each do |product| %>
        <div class="products_hero col">
          <%= link_to edit_product_path(product.id) do %>
            <%= image_tag product.image, class:"products_img" if product.image.attached?  %>
            <div class="products_info">
              <p class="products_name"><%= product.name %></p>
              <p class="products_text"><%= product.text %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>


<div class="top-editor-wrap">
  <h3>トップ画面編集</h3>
  <% if @top == nil %>
    <div class="top-new">
      <%= link_to "新規top画面を作成する", new_top_path %>
    </div>
      <% else %>
    <div class="top-editor">
      <%#= link_to "top画面を編集する", edit_top_path(@top.id) %>
      <%= form_with model: @top, local: true do |f| %>
        <div class="top-editor-video-box">
          <p class="editor-title"><%= f.label :video %></p>
          <%= f.file_field :video_top, :accept => 'video/*' %>
        </div>
        <div class="top-editor-logo-box">
          <%#カラム名直すrogo->logo%><p class="editor-title"><%= f.label :image_logo %></p>
          <%= f.file_field :image %>
        </div>
        <div class="top-editor-title-box">
          <p class="editor-title"><%= f.label :title %></p>
          <%= f.text_field :title %>
        </div>
        <div class="top-editor-submit-box">
          <%= f.submit "編集する" ,class:"top-editor-submit" %>
        </div>
      <% end %>
    <%= button_to "動画を削除する（削除させない方がいいのでは？）", top_path(@top.id), method: :delete %>
    <%= link_to "商品ページを追加する", new_product_path %>
    </div>
  <% end %>
</div>

<%=link_to 'もどる', root_path, class:"back-btn" %>