<h1>Topsedit</h1>
<p>Find me in app/views/tops/edit.html.erb</p>

<%= form_with model: @top, local: true do |f| %>

<div class="">
  <%= f.label :video %>
  <%= f.file_field :video_top, :accept => 'video/*' %>
</div>

<div class="">
  <%= f.label :image_rogo %>
  <%= f.file_field :image %>
</div>

<div class="">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

  <%# 下部ボタン %>
  <div class="#">
    <%= f.submit "編集する" ,class:"#" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  <%# /下部ボタン %>
<% end %>
