<h1>Tops#index</h1>
<p>Find me in app/views/tops/index.html.erb</p>


<% if client_signed_in? %>
  <%= current_client.email %>
  <%= link_to "新規ページを作成する", new_top_path %>
<% else %>
  <%= link_to "新規登録する", new_client_registration_path %>
  <%= link_to "ログイン", new_client_session_path %>
<% end %>

<br>

<%# 画像表示 %>
  <% @tops.each do |top| %>
  <%= image_tag top.image, class: "#", :size => "260x180"%>
  <% end %>
<br>
  <%# <%= image_tag top.image, class: "#", :size => "260x180"%> %>
<br>

<%# 動画表示 %>
<%# eachにしないと表示させれない @topsにfind_byでデータをとってきてみては？ %>
<% @tops.each do |top| %>
  <%= video_tag(top.video_top.to_s,:loop => true, :autoplay => true, :muted => true) %>
<% end %>

<%# <%= video_tag(@top.video_top.to_s,:loop => true, :autoplay => true, :muted => true) %> 

<br>

<%= render partial: "products/index" %>
