<div class="top">
  <!----動画----->
  <div class="top_video_content" >
    <% if @top == nil %>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <%= video_tag("/", class: "top_video", controls: true, alt:"ダミー") %> 
            <%= link_to new_top_path do %>
              <div class="top_ziza" >
                <h3 class="top_title">サイトを作成する</h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <%= video_tag @top.video_top, class:"top_video", :loop => true, :autoplay => true, :muted => true %> 
            <div class="top_hero" >
              <%#= image_tag @top.image, :size =>"230×270", class: "top_logo" if @top.image.attached? %>
              <h3 class="top_title"><%= @top.title %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!----商品----->
  <div class="products-container container-fluid">
    <div class="row row-cols-3">
      <% @products.each do |product| %>
        <div class="products_hero col">
          <div class="hover-product">
            <%= link_to products_path(product.id) do %>
              <%= image_tag product.image, class:"products_img" if product.image.attached?  %>
              <div class="products_info">
                <p class="products_name"><%= product.name %></p>
                <p class="products_text"><%= product.title %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer_client" %>
</div>


<%= javascript_pack_tag 'menu_vue' %>