<h1>tops#index</h1>
<div class="top">
  <!--------メニュー--------->
  <div class="menu-wrap">
    <div id="app1">
      <!--メニューのボタン-->
      <div class="hamburger_btn" v-on:click='ActiveBtn=!ActiveBtn'>
        <span class="line line_01" v-bind:class="{'btn_line01':ActiveBtn}"></span>
        <span class="line line_02" v-bind:class="{'btn_line02':ActiveBtn}"></span>
        <span class="line line_03" v-bind:class="{'btn_line03':ActiveBtn}"></span>
      </div>
      <!--サイドバー-->
      <transition name="menu">
        <div class="menu" v-show="ActiveBtn">
          <div class='user-conf' >
            <% if user_signed_in? %>
              <div class="user-sin-login">
                <p><%#= link_to current_user.name, edit_user_registration_path  %></p>
                <p><%= link_to current_user.name  %></p>
                <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
                <%#= link_to '予約状況を見る', event_path, class: "#" %>
              </div>
              <% else %>
              <div class="user-sin-login">
                <p>
                  <%= link_to "新規登録する", new_user_registration_path %>
                </p>
                <p>
                  <%= link_to "ログイン", new_user_session_path %>
                </p>
              </div>
            <% end %>
          </div>
          <!----サイドバー商品名----->
          <div class="プロダクト">
            <% @products.each do |product|  %>
              <ul>
                <li>
                  <%= link_to products_path(product.id) do %>
                    <%= product.name %>
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </transition>
    </div>
  </div>
  <!----動画----->
  <div class="top_video_content" >
    <% if @top == nil %>
      <img url="#" alt="ダミー動画">
    <% else %>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <%= video_tag @top.video_top, class:"top_video", :loop => true, :autoplay => true, :muted => true %> 
            <div class="top_hero" >
              <%= image_tag @top.image, class: "top_logo" %>
              <h3 class="top_title"><%= @top.title %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!----商品----->
  <div class="products-container container-fluid">
    <div class="row row-cols-3">
      <% @products.each do |product| %>
        <div class="products_hero col">
          <%= link_to products_path(product.id) do %>
            <%= image_tag product.image, class:"products_img" if product.image.attached?  %>
            <div class="products_info">
              <p class="products_name"><%= product.name %></p>
              <p class="products_text"><%= product.title %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer_client" %>
</div>


