<h1>Tops#index</h1>
<p>Find me in app/views/tops/index.html.erb</p>


<% if client_signed_in? %>
  <%= current_client.email %>
  <%= link_to "新規ページを作成する", new_top_path %>
<% else %>
  <%= link_to "新規登録する", new_client_registration_path %>
  <%= link_to "ログイン", new_client_session_path %>
<% end %>

<br>
  <%# <%= image_tag @tops.image, class: '#' %> 

<%# eachにしないと表示させれない %>
<% @tops.each do |top| %>
  <%= top.title %>
  <%# #ボタンを押して再生したいときは　":controls => true" が必要 %>
  <%# <%= video_tag(top.video_top.to_s, :controls => true) %> 
  <%# オプションは（）内に書く！ %>
  <%= video_tag(top.video_top.to_s,:loop => true, :autoplay => true, :muted => true) %>
<% end %>

<br>

<%= link_to "商品ページの画像を作成する", new_top_path %>

