<h1>Tops#index</h1>


<div class=""></div>

<div class="main">

  <div class="ヘッダー">
    <div class="ハンバーガー" >
      <%# ユーザー %>
      <div class='ユーザー' >
        <% if user_signed_in? %>
          <div class="">
            <div class="">
            <%= current_user.name %>
            </div>
            <div class="">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "#" %>
            </div>
            <div class="">
            <%#= link_to '予約状況を見る', event_path, class: "#" %>
            </div>
          </div>
          <% else %>
          <h3>ユーザー</h3>
          <div class="">
            <div class="">
              <%= link_to "新規登録する", new_user_registration_path %>
            </div>
            <div class="">
              <%= link_to "ログイン", new_user_session_path %>
            </div>
          </div>
        <% end %>
      </div>

      <%# プロダクト %>
      <div class="プロダクト">
        <div class="">
          <% @products.each do |product|  %>
            <%= link_to products_path(product.id) do %>
            <%= product.name %>
          <% end %>
        <% end %>
        </div>
      </div>

    </div>
  </div>

<%# 動画 %>
<div class="トップ動画全体">
  <% if @top == nil %>
    <p>HTML直打ちのダミー動画</p>
  <% else %>
    <%# 一枚表示はfind_by(params[:id]) 複数枚はallデータを取得 %>
    <div class="トップ動画" >
      <%# 動画表示%>
      <div class="動画" >
        <%= video_tag(@top.video_top.to_s,:loop => true, :autoplay => true, :muted => true) %> 
        <div class="" >
          <div class="ロゴ表示" >
            <%= image_tag @top.image, class: "#", :size => "260x180"%>
          </div>
          <div class="タイトル" >
            <h3><%= @top.title %></h3>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

  <%# 商品 %>
  <div class="プロダクト">
    <% @products.each do |product|  %>
      <%= link_to products_path(product.id) do %>
        <div class="">
          <%= image_tag product.image, class: "#", :size => "260x180" if product.image.attached?  %>
        </div>
        <div class="">
          <%= product.name %>
        </div>
        <div class="">
          <%= product.text %>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="フッター">
    <%#業者用 %>
    <div class='' >
      <% if client_signed_in? %>
        <div class="">
          <h3>管理者</h3>
            <%= current_client.company_name %>
            <div class="">
              <% if @top == nil %>
                <div class="">
                  <%= link_to "新規top画面を作成する", new_top_path %>
                </div>
              <% else %>
                <div class="">
                  <%= link_to "管理者画面に行く", edit_top_path(@top.id) %>
                </div>
              <% end %>
            </div>
            <div class="">
              <div class="">
                <%= link_to "予約管理画面", events_path %>
              </div>
              <div class="">
                <%= link_to 'ログアウト', destroy_client_session_path, method: :delete, class: "#" %>
              </div>
            </div>
            <% else %>
          <h3>管理者</h3>
            <div class="">
              <div class="">
                <%= link_to "新規登録する", new_client_registration_path %>
              </div>
              <div class="">
                <%= link_to "ログイン", new_client_session_path %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>


</div>


