<h1>Tops#index</h1>

<%# 業者用 %>
<div>
  <% if client_signed_in? %>
    <h3>業者様</h3>
      <%= current_client.email %>
        <% if @top == nil %>
          <%= link_to "新規top画面を作成する", new_top_path %>
        <% else %>
        <%= link_to "管理者画面に行く", edit_top_path(@top.id) %>
        <% end %>
      <%= link_to "予約管理画面", events_path %>
      <%= link_to 'ログアウト', destroy_client_session_path, method: :delete, class: "#" %>
  <% elsif user_signed_in? %>
    <h3>ユーザー</h3>
      <%= current_user.email %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "#" %>
  <% else %>
    <h3>業者様</h3>
      <%= link_to "新規登録する", new_client_registration_path %>
      <%= link_to "ログイン", new_client_session_path %>
    <h3>ユーザー</h3>
      <%= link_to "新規登録する", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
  <% end %>
</div>

<br>

<% if @top == nil %>
  <p>HTML直打ちのダミー</p>

<% else %>
<%# 一枚表示はfind_by(params[:id]) 複数枚はallデータを取得 %>
<div class="" >
  <%# 動画表示一枚%>
  <div class="" >
    <%= video_tag(@top.video_top.to_s,:loop => true, :autoplay => true, :muted => true) %> 
    <div class="" >
      <%# 画像表示 %>
      <div class="" >
        <%= image_tag @top.image, class: "#", :size => "260x180"%>
      </div>
      <h3><%= @top.title %></h3>
    </div>
  </div>
</div>
<% end %>

<%# 商品 %>
<br>
<div class="#">
  <% @products.each do |product|  %>
    <%= link_to products_path(product.id) do %>
      <%= product.name %>
      <%= image_tag product.image, class: "#", :size => "260x180" if product.image.attached?  %>
      <%= product.text %>
    <% end %>
  <% end %>
</div>




<%# 画像と動画の複数枚表示 %>
<%# @tops.each do |top| %>
  <%#= video_tag(top.video_top.to_s,:loop => true, :autoplay => true, :muted => true) %> 
<%# end %>
<%# @tops.each do |top| %>
  <%#= image_tag top.image, class: "#", :size => "260x180"%>
<%# end %>