<h1>tops#show</h1>

<!-----区切り------>
  <div id="app1">
    <div class="section">
      <div class="section_btn" v-on:click='ActiveBtn=!ActiveBtn'>
        <img src="/assets/section-logo.png" alt="editor_logo" >
      </div>
      <transition name="editor-side">
        <div v-show="ActiveBtn">
          <div class="container mt-5 mb-5">
            <div class="row">
              <div class="col-2">
                <img src="/assets/logo.png">
              </div>
              <div class="col-2">
                <img src="/assets/logo (1).png">
              </div>
              <div class="col-2">
                <img src="/assets/logo (5).png">
              </div>
              <div class="col-2">
                <img src="/assets/logo (2).png">
              </div>
              <div class="col-2">
                <img src="/assets/logo (3).png">
              </div>
              <div class="col-2">
                <img src="/assets/logo ().png">
              </div>
            </div>
          </div>
          <div class="container mb-5">
            <div class="row">
              <h2 class="section col-12">
              <span class="section-name mb-5 border-bottom">products</span>
              <small>プラン</small>
              </h2>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>



  <div class="products-container container-fluid">
    <div class="row row-cols-3">
      <% if @product == nil %>
        <div class="products_hero col">
          <%= link_to new_top_path do %>
            <%= image_tag "/assets/product_sample.png", class:"products_img" %>
            <div class="products_info">
              <p class="products_name">サイトを作成する</p>
            </div>
          <% end %>
        </div>
      <% else %>
        <% @products.each do |product| %>
          <div class="products_hero col">
            <%= link_to products_path(product.id) do %>
              <%= image_tag product.image, class:"products_img" if product.image.attached?  %>
              <div class="products_info">
                <p class="products_name"><%= product.name %></p>
                <p class="products_text"><%= product.title %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
