  <div class="footer">
    <div class='client-wrap' >
      <% if @client != nil %> 
        <div class="client-admin-if-login-box">
          <div class="company-info">
            <ul>
              <li>会社名<span>:</span><%= @client.company_name %></li>
              <li>所在<span>:</span><%= @client.company_address %></li>
              <li>e-mail<span>:</span><%= @client.email %></li>
              <li>TEL<span>:</span><%= @client.tel %></li>
            </ul>
          </div>
          <!--画像の有無--->
          <% if client_signed_in? %>
            <div class="client-menu">
              <ul>
                <li>
                  <p>Admin</p>
                </li>
                <% if @top == nil %>
                  <li>
                    <%= link_to "トップ画面作成", new_top_path, class:"client-menu-li" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "編集画面", edit_top_path(@top.id), class:"client-menu-li" %>
                  </li>
                  <li>
                    <%= link_to "予約管理", events_path, class:"client-menu-li" %>
                  </li>
                <% end %>
                  <li>
                    <%= link_to 'ログアウト', destroy_client_session_path, method: :delete, class:"client-menu-li" %>
                  </li>
              </ul>
            </div>
          <% else %>
            <div class="client-menu">
              <div class="client-admin-no-account">
                  <div id="app3">
                    <ul>
                      <li>
                        <div class="admin-button-box" v-on:click='ActiveBtn=!ActiveBtn'>
                          <p>Admin</p>
                        </div>
                      </li>
                        <transition name="editor-side">
                          <div v-show="ActiveBtn">
                            <li><%= link_to "新規登録する", new_client_registration_path, class:"client-about-sign-up" %></li>
                            <li><%#= link_to 'ゲストログイン', clients_guest_sign_in_path, method: :post, class:"client-about-sign-up" %></li>
                            <li><%= link_to "ログイン", new_client_session_path, class:"client-about-sign-up" %></li>
                          </div>
                        </transition>
                    </ul>
                  </div><!--app3-->
              </div><!--client-admin-noaccount"-->
            </div>
          <% end %>
        </div><!---client-admin-if-login-box--->
      <% else %>
        <div class="client-no-account-box">
          <div class="company-info">
            <ul>
              <li>会社名<span>:</span>KOTOTABI</li>
              <li>所在<span>:</span>京都府京都市上京区京都御苑</li>
              <li>E-mail<span>:</span>kototabi@xxx.com</li>
              <li>TEL<span>:</span>090-1234-5678</li>
            </ul>
          </div>
          <div class="client-admin-no-account">
            <div id="app3">
              <ul>
                <li>
                  <div class="admin-button-box" v-on:click='ActiveBtn=!ActiveBtn'>
                    <p>Admin</p>
                  </div>
                </li>
                  <transition name="editor-side">
                    <div v-show="ActiveBtn">
                      <li><%#= link_to 'ゲストログイン', clients_guest_sign_in_path, method: :post, class:"client-about-sign-up" %></li>
                      <li><%= link_to "新規登録する", new_client_registration_path, class:"client-about-sign-up" %></li>
                      <li><%= link_to "ログイン", new_client_session_path, class:"client-about-sign-up" %></li>
                    </div>
                  </transition>
              </ul>
            </div><!--app3-->
          </div><!--client-admin-noaccount"-->
        </div><!--client-no-account-box-->
      <% end %>
      <div class="footer-logo-box">
        <img src="/assets/footer-logo.png" alt="footer-logo.png" class="footer-logo">
      </div>
    </div><!--client-wrap-->
  </div><!--footer-->
