<h1>Events#edit</h1>
<%= render "shared/header" %>


    <p>名前: <%= @event.user_name %></p>
    <p>商品名: <%= @event.product_name %></p>
    <p>参加人数: <%= @event.num.name %></p>

<%= form_with(model: @event, local: true) do |f| %>

  <div class="">

    <div class="">
      <%= f.text_field :start_time %>
    </div>

    <div class="">
    <%= f.text_field :price %>
    </div>

    <div class="">
      <p>参加人数</p>
    </div>
    <div class ="">
      <%= f.collection_select(:num_id, Num.all, :id, :name, {}, {class:"#", id:"#"}) %>
    </div>

  </div>

      <div class="">
        <%= f.submit "編集する" %>
      </div>

      <div class="">
        <%= link_to "削除する", event_path(@event.id), method: :delete, class:"#" %>
      </div>

<% end %>

 <div class="">
    <%= link_to "戻る", root_path%>
  </div>