<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<h1>検索結果</h1>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
      <%= link_to edit_event_path(result.id) do %>
          <td>
          <br>
          <li>
              <%= result.start_time %>
              <%= result.product_name %>
              <%= result.user_name %>
              <%= result.num_id %>
          </li>
      <% end %>
    <% end %>
  <% else %>
    該当者はいません
  <% end %>
  <br>
<%= link_to 'トップページへ戻る', root_path %>
