<h1>Itinerarys#index</h1>
<p>Find me in app/views/itinerarys/index.html.erb</p>
<h3>ツアーの流れ</h3>

<div class="#">
    <% @itinerarys.each do |itinerary|  %>
    <%= itinerary.time %>
    <%= itinerary.title %>
    <%= itinerary.text %>
    <%= image_tag itinerary.image, class: "#", :size => "260x180" if itinerary.image.attached?  %>
    <br>
    <% end %>
</div>


<%= link_to "旅程を作成する", new_product_itinerary_path(@product.id), class:"#" %>
