<h1>Products#index</h1>

<div class="#">
  <% @products.each do |product|  %>
    <%= link_to product_path(product.id) do %>
      <%= product.name %>
      <%= image_tag product.image, class: "#", :size => "260x180" if product.image.attached?  %>
      <%= product.text %>
    <% end %>
  <% end %>
</div>

<% if client_signed_in? %>
<%= link_to "商品ページを作成する", new_product_path %>
<% end %>