<h1>Products#index</h1>
<h3>商品の詳細ページ</h3>

<%# 管理者画面のビューを整えたあとコピーする%>


<%# 申し込みフォーム %>
<h3>申し込みフォーム</h3>
<div class="">
  <%# 料金 %>
  <div>
    <p>料金<%= @product.price %></p>
  </div>
  <%# /料金 %>
  <%= form_with url:new_product_event_path(@product.id), local: true do |f| %>
    <div class="number">
      <%= f.label :num, '参加人数' %>
      <%= f.collection_select(:num_id, Num.all, :id, :name, {}, {class:"#", id:"#"}) %>  <%= @product.unit %>
    </div>

    <div class="plan_day">
      <%= f.label :start_time, 'ご希望日' %>
      <%= f.date_select :start_time %>
    </div>

    <div class="submit">
      <%= f.submit "確認画面へ", class:"#" %>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "戻る", root_path, class:"#" %>