<%# 管理者画面のビューを整えたあとコピーする%>
<h1>Products#index</h1>
<h3>商品の詳細ページ</h3>


<h3>申し込みフォーム</h3>

<div class="#">
  <div class="#">
    <P>一人あたりの値段</P>
      <div class="#" >
        <p>¥<span id="one_price"><%= @product.price %></span></p>
      </div>
    <P>合計金額</P>  
      <div class="#" id="total_price">
        <p>¥0</p>
      </div>
  </div>

  <div class="#">
    <%= form_with url:new_product_event_path(@product.id), method: :get, local: true do |f| %>

      <div>
        <%= f.hidden_field :price, id: "f_price"  %>
      </div>

      <div class="#">
        <%= f.label :num, '参加人数' %>
          <% num_options = Num.order(:id).map { |c| [c.name, c.id, data: { multiple: c.multiple }] } %>
        <%= f.select(:num_id, num_options, {}, {class:"#", data:{select:0}, id:"num" }) %>
      </div>

      <div class="plan_day">
        <%= f.label :start_time, 'ご希望日' %>
        <%= f.date_select :start_time %>
      </div>
      <%# unless client_signed_in? %>
        <div class="submit">
          <%= f.submit "確認画面へ", class:"#" %>
        </div>
      <%# end %>
    <% end %>
  </div>
</div>

<%= link_to "戻る", root_path, class:"#" %>
