<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>
<h1>ここにコクーンが欲しい</h1>

<%= form_with model: @product, local: true do |f| %>

<div class="">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<div class="">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="">
  <%= f.label :text %>
  <%= f.text_area :text %>
</div>

<%# showで表示 %>
<div class="#">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="#">
  <%= f.label :text2 %>
  <%= f.text_field :text2 %>
</div>

<div class="#">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>

<div class="#">
  <%= f.label :unit %>
  <%= f.text_field :unit %>

<%= f.submit "作成する", class:"#" %>
<%= link_to "戻る", root_path, class:"#" %>
<% end %>