<h3>商品の詳細ページ</h3>

<div class="#">
    <%= @product.name %>
    <%= @product.title %>
    <%= image_tag @product.image, class: "#", :size => "260x180" if @product.image.attached?  %>
    <%= @product.text2 %>
</div>

<div class="">
<%= render partial: "points/index" %>

</div>

<div class="">
<%# render itierarys %>
<%# <%= link_to "旅程を作成する", , class:"#" %> %>
</div>


<%= link_to "戻る", root_path, class:"#" %>