<h1>Product#show</h1>
<h3>商品の詳細ページ</h3>
<%# ここにタイトルを引っ張りたい %>
<%= link_to "「〇〇」の商品ページを編集する", edit_product_path(@product.id) %>
<%= button_to "〇〇」の商品ページを削除する", product_path(@product.id), method: :delete %>

<div class="#">
  <%= @product.name %>
  <%= @product.title %>
  <%= image_tag @product.image, class: "#", :size => "260x180" if @product.image.attached?  %>
  <%= @product.text2 %>
</div>

<%# ここからポイント作成 表題もクライアントが作れる用にする%>
<h3>おすすめポイント</h3>
<%= form_with url:product_points_path(@product.id), local: true do |f| %>

<div class="#">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="">
  <%= f.label :text %>
  <%= f.text_area :text %>
</div>

<div class="">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<%= f.submit "作成する", class:"#" %>
<%= link_to "戻る", root_path, class:"#" %>
<% end %>
<%# /ここまでポイント作成 %>


<%# ここから旅程作成 表題もクライアントが作れる用にする %>
<h3>ツアーの流れ</h3>
<%= form_with url:product_itinerarys_path(@product.id), local: true do |f| %>

  <div class="">
  <%= f.label :time %>
  <%= f.text_field :time %>
  </div>

  <div class="">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>

  <div class="">
  <%= f.label :text %>
  <%= f.text_area :text %>
  </div>

<%= f.submit "作成する", class:"#" %>
<% end %>
<%= link_to "戻る", root_path, class:"#" %>
<%# /ここまで旅程作成  %>



<%# <h2>coccun作成中</h2> %>
<div class="">
<%= form_with(model: @product, local: true) do |f| %>
    <%#= f.label :p_name %>
    <%#= f.text_field :p_name %>
    <div class="parents">
        <%= f.fields_for :itinerarys do |i| %>
            <%#= render "itinerarys_fields", f: i %>
        <% end %>
        <div class="links">
            <%#= link_to_add_association "子供を追加", f, :itinerarys %>
        </div>
    </div>
    <div class="actions">
        <%#= f.submit %>
    </div>
<% end %>



<%# 申し込みフォーム %>
<h3>申し込みフォーム</h3>
<div class="">
<%= form_with(model: @event, url:confirm_product_events_path(@product), local: true) do |f| %>
  <div class="number">
    <%= f.label :num, '参加人数' %>
    <%= f.collection_select(:num_id, Num.all, :id, :name, {}, {class:"#", id:"#"}) %>  
  </div>

  <div class="plan_day">
    <%= f.label :start_time, 'ご希望日' %>
    <%= f.date_select :start_time %>
  </div>

  <div class="submit">
    <%= f.submit "確認画面へ", class:"#" %>
  </div>
  <% end %></div>


<%= link_to "戻る", root_path, class:"#" %>