<div class="background_client" > 
  <div class="container bg-white text-dark">
    <div class="devise_main">
      <h2>新規登録</h2>
        <div class="devise-item">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
            <div class="field">
              <p class="devise_title"><%= f.label :氏名 %></p>
              <ul class="login_ul">
                <li><p class="text-danger">必須</p></li>
                <li><%= f.text_field :name, class:"input-default", id:"#", placeholder:"例)山田 太旅 " %></li>
              </ul>
            </div>
            <div class="field">
              <p class="devise_title"><%= f.label :カナ %></p>
              <ul class="login_ul">
                <li><p class="text-danger">必須</p></li>
                <li><%= f.text_field :kana, class:"input-default", id:"#", placeholder:"例)ヤマダ タリョ " %></li>
              </ul>
            </div>
            <div class="field">
              <p class="devise_title"><%= f.label :電話番号 %></p>
              <ul class="login_ul">
                <li><p class="text-danger">必須</p></li>
                <li><%= f.text_field :tel, class:"input-default", id:"#", placeholder:"例)090-1234-5678 " %></li>
              </ul>
            </div>
            <div class="field">
              <p class="devise_title"><%= f.label :メール %></p>
              <ul class="login_ul">
                <li><p class="text-danger">必須</p></li>
                <li><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"例)xxxxxx@koto.com " %></li>
              </ul>
            </div>
            <div class="field">
              <p class="devise_title"><%= f.label :パスワード（6文字以上） %></p>
              <ul class="login_ul">
                <li><p class="text-danger">必須</p></li>
                <li><%= f.password_field :password, autocomplete: "current-password" %></li>
              </ul>
              </ul>
            </div>
            <div class="field">
              <p class="devise_title"><%= f.label :パスワード確認 %></p>
              <ul class="login_ul">
                <li><p class="text-danger">必須</p></li>
                <li><%= f.password_field :password_confirmation, autocomplete: "new-password" %></li>
              </ul>
            </div>
            <div class="actions">
              <%= f.submit "新規登録", class:"actions-btn btn-danger p-2 shadow rounded"%>
            </div>
          <% end %>
        </div>
    </div>
  </div><!--container bg-white text-dark-->
</div><!--background_client-->
<%= render "clients/shared/links" %>